<navbar></navbar>

<div class="content md:pl-6 md:pr-6 md:pt-5 mb-8">
    <div class="mt-4 mb-3 uppercase cinzel center title">FAQ'S</div>


    <div class="main-container p-6 pb-0 pt-1 md:p-0 center montserrat pt-5">
        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">1.</span>
            <span class="text-main-color text-main-size">As peças de roupa são produzidas em massa ou feitas à mão?
            </span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">Todas as peças da nossa loja são cuidadosamente feitas à mão,
                garantindo que cada item seja único. Cada projeto é exclusivo e disponível em quantidades limitadas.
            </span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">2.</span>
            <span class="text-main-color text-main-size"> Quanto tempo leva para receber o meu pedido?</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">Como cada peça é feita à mão e por encomenda, pode levar até 3 semanas para que o seu pedido esteja pronto para envio. Agradecemos a sua paciência e compreensão.</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">3.</span>
            <span class="text-main-color text-main-size">Posso devolver ou trocar um item se não servir ou se eu mudar de ideia?</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">Infelizmente, não oferecemos reembolsos por compras realizadas. No entanto, aceitamos trocas dentro de condições razoáveis. Tenha em conta que os custos de envio associados à troca são de responsabilidade do cliente.</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">4.</span>
            <span class="text-main-color text-main-size">Como saber qual é o tamanho certo para mim?</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">Como cada peça é feita à mão e por encomenda, pode levar até 3 semanas para que o seu pedido esteja pronto para envio. Agradecemos a sua paciência e compreensão.</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">5.</span>
            <span class="text-main-color text-main-size">Como devo cuidar da minha peça de roupa feita à mão?</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">Para prolongar a vida útil da sua peça artesanal, recomendamos lavar à mão ou em ciclo delicado com água fria e secar na horizontal. Evite torcer ou espremer o tecido, e, se necessário, passe a ferro em temperatura baixa.</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">6.</span>
            <span class="text-main-color text-main-size">Posso acompanhar o envio do meu pedido?</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">Sim, assim que o seu pedido for enviado, receberá um número de rastreamento por e-mail.</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">7.</span>
            <span class="text-main-color text-main-size">Vocês enviam para outros países?</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">Sim, oferecemos envios internacionais para países selecionados. Consulte a nossa política de envio para mais informações sobre taxas e prazos de entrega internacionais.</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">8.</span>
            <span class="text-main-color text-main-size">Como posso entrar em contacto com o atendimento ao cliente se tiver dúvidas ou problemas?</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">A nossa equipa de apoio ao cliente está aqui para ajudar! Pode contactar-nos através do contactos disponível no site. Esforçamo-nos para responder a todas as mensagens no prazo de 5 dias úteis.</span>
        </div>

    </div>

</div>

<footer></footer>