body{
    background-color: #fff !important;
    color: pink;
}

.center{
    margin: 0 auto;
    display: table;
}

.text-main-color{
    color: #624725 !important;
}

.text-main-size{
    font-size: 18px !important;

    @media only screen and (max-width: 700px) {
        font-size: 10px !important;
    }
}

.text-yellow{
    color: #ffbd59 !important;
}

.main-container{
    max-width: 1246px !important;  
}

.identifier{
    min-width: 30px;
}