<navbar></navbar>

<div class="content md:pl-6 md:pr-6 md:pt-5 mb-8">
    <div class="mt-4 mb-3 uppercase cinzel center title">{{ 'faqs.title' | translate }}</div>


    <div class="main-container p-6 pb-0 pt-1 md:p-0 center montserrat pt-5">
        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">1.</span>
            <span class="text-main-color text-main-size">{{ 'faqs.q1' | translate }}
            </span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">{{ 'faqs.a1' | translate }}
            </span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">2.</span>
            <span class="text-main-color text-main-size">{{ 'faqs.q2' | translate }}</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">{{ 'faqs.a2' | translate }}</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">3.</span>
            <span class="text-main-color text-main-size">{{ 'faqs.q3' | translate }}</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">{{ 'faqs.a3' | translate }}</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">4.</span>
            <span class="text-main-color text-main-size">{{ 'faqs.q4' | translate }}</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">{{ 'faqs.a4' | translate }}</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">5.</span>
            <span class="text-main-color text-main-size">{{ 'faqs.q5' | translate }}</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">{{ 'faqs.a5' | translate }}</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">6.</span>
            <span class="text-main-color text-main-size">{{ 'faqs.q6' | translate }}</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">{{ 'faqs.a6' | translate }}</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">7.</span>
            <span class="text-main-color text-main-size">{{ 'faqs.q7' | translate }}</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">{{ 'faqs.a7' | translate }}</span>
        </div>

        <div class="flex flex-row">
            <span class="text-main-size text-yellow identifier">8.</span>
            <span class="text-main-color text-main-size">{{ 'faqs.q8' | translate }}</span>
        </div>
        <div class="flex flex-row pb-2 md:pb-4">
            <span class="text-main-size text-yellow identifier">R:</span>
            <span class="text-main-color text-main-size">{{ 'faqs.a8' | translate }}</span>
        </div>

    </div>

</div>

<footer></footer>