<section id="footer">
  <div class="footer flex flex-row montserrat font-bold desktop">
    <div class="w-full pl-8 pt-4 pr-8">
      <img class="pt-5 pl-5 pb-3" src="/images/Logo footer.png" />
    </div>
    <div class="flex flex-column pt-8 gap-2 w-full cursor-pointer">
      <p><a href="/#about" class="no-underline">SOBRE</a></p>
      <p><a href="https://instagram.com/gaithgio" target="_blank" class="no-underline">INSTAGRAM</a></p>
      <p><a href="mailto:contact@gaithgio.com" class="no-underline">POLÍTICA DE PRIVACIDADE</a></p>
      <p><a href="https://wa.me/351934036467?text=Olá!%20Estou%20a%20precisar%20de%20ajuda%20no%20site%20Gaithgio.%20Poderiam%20me%20orientar?" class="no-underline">AJUDA</a></p>

    </div>
    <div class="flex flex-column pt-8 gap-2 w-full cursor-pointer">
      <p><a href="/faqs" class="no-underline">FAQ'S</a></p>
      <p><a href="https://wa.me/351934036467" target="_blank" class="no-underline">CONTATOS</a></p>
      <p><a href="mailto:contact@gaithgio.com" class="no-underline">DEVOLUÇÕES</a></p>
      <p><a href="/#contact" class="no-underline">TAMANHOS</a></p>
    </div>
    <div class="flex flex-row gap-8 w-full justify-content-end pr-4 pb-3 align-items-end mo">
      <span class="uppercase">@gaithgio 2025 </span>
      <span class="uppercase">powered by @ningola</span>
    </div>
  </div>
  <div class="footer flex flex-column  montserrat font-bold mobile">
    <div class="flex">
    <div class="w-full pl-2 pt-4 md:pr-8">
      <img class="pt-5 ml-5 pb-3" src="/images/Logo footer.png" />
    </div>
    <div class="flex flex-column pt-8 pl-6 gap-2 w-full cursor-pointer">
      <p><a href="/#about" class="no-underline">SOBRE</a></p>
      <p><a href="https://instagram.com/gaithgio" target="_blank" class="no-underline">INSTAGRAM</a></p>
      <p><a href="mailto:contact@gaithgio.com" class="no-underline">CONTATO</a></p>
      <p><a href="tel:+351934036467" class="no-underline">TELEFONE</a></p>
    </div>
    <div class="flex flex-column pt-8 pl-4 gap-2 w-full cursor-pointer">
      <p><a href="/faqs" class="no-underline">FAQ'S</a></p>
      <p><a href="https://wa.me/351934036467" target="_blank" class="no-underline">WHATSAPP</a></p>
      <p><a href="mailto:contact@gaithgio.com" class="no-underline">EMAIL</a></p>
      <p><a href="/#contact" class="no-underline">TAMANHOS</a></p>
    </div>

    </div>
    <div class="flex flex-row gap-2 w-full justify-content-end pr-4 pb-0 align-items-end mo">
      <span class="uppercase">@gaithgio 2025 </span>
      <span class="uppercase">powered by @ningola</span>
    </div>
  </div>
</section>
