body{
    background-color: #fff !important;
}

.member-area{
  p{
    font-size: 15px;
  }

  @media only screen and (max-width:700px) {
  p{
    font-size: 10px;
    padding-top: 4px;
  }
  }
}

i{
  color: #000;
}

.menu {
  font-family: 'Montserrat';
}
.center {
  margin: 0 auto;
  display: table;
}

a:focus{
    border: none !important;
    outline: none;
}

.cart-icon {
  position: relative; 
  display: inline-block;

  img {
    width: 16px;
    display: block;
  }

  .circle {
    position: absolute;
    top: 5px;
    right: -4px;
    width: 8px;
    height: 8px;
    background-color: #ffbd59;
    border-radius: 50%;
  }

  @media only screen and (max-width:700px) {

  img {
    width: 11px;
    display: block;
  }
  }
}
