<div class="member-area flex justify-content-end mb-5 pt-5 mr-7 desktop">
    @if (isLoggedIn()) {
        <div class="user-info flex align-items-center gap-2 mr-3">
            <span class="main-txt-color montserrat">Olá, {{ getUserName() }}!</span>
            <a href="/member/dashboard" class="main-txt-color underline">Meu Painel</a>
        </div>
    } @else {
        <a href="/member/login" class="main-txt-color underline mr-3">Entrar / Cadastrar</a>
    }
    <a href="/cart" class="no-underline cursor-pointer main-txt-color">
        <div class="cart-icon ml-2">
            <img src="images\cart.png " />
            @if (cartService.totalItems() > 0) {
            <div class="circle"></div>
            }
        </div>
    </a>
</div>

<div class="member-area flex flex-row justify-content-between mb-5 pt-5 mobile">
    <i class="pi pi-bars ml-2" (click)="toggleMenu()"></i>
    <div class="justify-content-end flex flex-row mr-3">
        @if (isLoggedIn()) {
            <div class="user-info flex align-items-center gap-2 mr-2">
                <span class="main-txt-color montserrat size-14">Olá, {{ getUserName() }}!</span>
                <a href="/member/dashboard" class="main-txt-color underline size-14">Painel</a>
            </div>
        } @else {
            <a href="/member/login" class="main-txt-color underline mr-2 size-14">Entrar</a>
        }
        <a href="/cart" class="no-underline cursor-pointer main-txt-color">
            <div class="cart-icon ml-2">
                <img src="images\cart.png " />
                @if (cartService.totalItems() > 0) {
                <div class="circle"></div>
                }
            </div>
        </a>
    </div>
</div>

<div class="menu center desktop">
    <div class="flex flex-row md:gap-6 main-txt-color">
        <p class="cursor-pointer"><a class="no-underline" href="/#about"> SOBRE NÓS </a></p>
        <p class="cursor-pointer"><a class="no-underline" href="/#values"> NOSSOS VALORES </a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/#concept"> CONCEITO DA MARCA </a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/#collection"> NOVA COLEÇÃO </a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/products"> PRODUTOS</a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/gallery"> GALERIA </a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/#contact"> CONTATOS </a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/faqs"> FAQS </a></p>
    </div>
</div>


<!-- Overlay fullscreen no mobile -->

@if(menuOpen) {
    <div class="menu-overlay mobile">
        <button class="close-btn" (click)="closeMenu()">✕</button>
        
        <div class="menu-items">
            <a href="/#about" (click)="closeMenu()">SOBRE NÓS</a>
            <a href="/#values" (click)="closeMenu()">NOSSOS VALORES</a>
            <a href="/#concept" (click)="closeMenu()">CONCEITO DA MARCA</a>
            <a href="/#collection" (click)="closeMenu()">NOVA COLEÇÃO</a>
            <a href="/products" (click)="closeMenu()">PRODUTOS</a>
            <a href="/gallery" (click)="closeMenu()">GALERIA</a>
            <a href="/#contact" (click)="closeMenu()">CONTATOS</a>
            <a href="/faqs" (click)="closeMenu()">FAQS</a>
            @if (isLoggedIn()) {
                <a href="/member/dashboard" (click)="closeMenu()">MEU PAINEL</a>
            } @else {
                <a href="/member/login" (click)="closeMenu()">ENTRAR / CADASTRAR</a>
            }
        </div>
    </div>
}
