<div class="member-area flex justify-content-end mb-5 pt-5 mr-7 ">
    <p class="main-txt-color">Área de Cliente</p>
</div>

<div class="menu center">
    <div class="flex flex-row md:gap-6 main-txt-color">
        <p class="cursor-pointer"><a class="no-underline" href="/#about"> SOBRE NÓS </a></p>
        <p class="cursor-pointer"><a class="no-underline" href="/#values"> NOSSOS VALORES </a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/#concept"> CONCEITO DA MARCA </a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/#collection"> NOVA COLEÇÃO </a>  </p>
        <p class="cursor-pointer"><a class="no-underline" href="/products"> PRODUTOS</a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/#gallery"> GALERIA </a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/#contact"> CONTATOS </a> </p>
        <p class="cursor-pointer"><a class="no-underline" href="/faqs"> FAQS </a></p>
    </div>
</div>