
.center {
  text-align: center;
}

.comming {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #fff;
  @media only screen and (max-width: 700px) {
    font-size: 50px;
  }
}

.stay {
  font-size: 25px;
  font-weight: 100;
  margin-top: 0;
  padding-top: 8px;
  color: #797979;

  @media only screen and (max-width: 700px) {
    font-size: 8px;
  }
}
