body{
    background-color: #fff !important;
    color: pink;
}

.center{
    margin: 0 auto;
    display: table;
}

.content{
    
}

.products{
    .add-cart{
        background: #fff;
        padding: .7rem;
        border: 1px solid #000;
    }

    @media only screen and (min-width:700px){
        img{
            max-width: 250px;
            min-height: 300px;
            max-height: 300px;
        }
    }
}