
<div class="flex flex-row pl-8 gap-4">
    <p class="text-lg">GAITHGIO</p>

    <div class="flex flex-row gap-2 pt-1">
        <p class="text-base">Home</p>
        <p class="text-base">Catalog</p>
    </div>
</div>

<div class="content md:pl-6 md:pr-6">
<p class="mt-4 mb-4 text-3xl">Products</p>

<div class="grid">
    <div class="col-6 flex gap-3">
        <p class="font-semibold">Filter:</p>
        <p class="font-light">Availability</p>
        <p class="font-light">Price</p>
    </div>
    <div class="col-6 flex gap-3">
        <p class="font-light">Sort by:</p>
        <p class="font-light">Alphabetically, A-Z</p>
        <p class="font-light">8 products</p>
    </div>
</div>

    <div class="products">
        <div class="grid">
            <div class="col-3 flex flex-column">
                <img src="images/vestido.webp" />
                <p class="m-0 p-0">Abadá Sapucaí</p>
                <p class="m-0 p-0 pt-2">€574.00 EUR</p>
                <button class="mt-3 add-cart">Add to cart</button>
            </div>
            <div class="col-3 flex flex-column">
                <img src="images/saia.webp" />
                <p class="m-0 p-0">Abadá Sapucaí</p>
                <p class="m-0 p-0 pt-2">€574.00 EUR</p>
                <button class="mt-3 add-cart">Add to cart</button>
            </div>
            <div class="col-3 flex flex-column">
                <img src="images/saiaBorbuleta.webp" />
                <p class="m-0 p-0">Abadá Sapucaí</p>
                <p class="m-0 p-0 pt-2">€574.00 EUR</p>
                <button class="mt-3 add-cart">Add to cart</button>
            </div>
            <div class="col-3 flex flex-column">
                <img src="images/vestidoFlores.webp" />
                <p class="m-0 p-0">Abadá Sapucaí</p>
                <p class="m-0 p-0 pt-2">€574.00 EUR</p>
                <button class="mt-3 add-cart">Add to cart</button>
            </div>
        </div>
    </div>

</div>
