<section id="main">
  <div class="main p-0 m-0">
    <navbar></navbar>

    <div class="highlight center montserrat uppercase main-txt-color">
      <p>{{ 'home.highlight' | translate }}</p>

      <img src="/images/Logotipo.png" />
    </div>
  </div>
</section>

<section id="about" class="main-txt-color">

  <div class="flex md:flex-row flex-column gap-4 about md:pt-8 md:mb-7">
    <img class="md:pt-4 desktop" src="/images/Secao2.jpg" />
    <img class="md:pt-4 mobile center" src="/images/Secao2.jpg" />
    <div class="text-section md:pt-4 montserrat">
      <p class="title center md:pt-5">{{ 'home.about.title' | translate }}</p>
      <div class="md:pt-4 about-txt">
        <p class="">{{ 'home.about.text1' | translate }}</p>
        <p class="pt-3">{{ 'home.about.text2' | translate }}</p>
        <p class="pt-3">{{ 'home.about.text3' | translate }}</p>
      </div>
    </div>
  </div>

</section>

<section id="values">
  <div class="values ">
    <div class="flex flex-column">
      <p class="mb-4 center cinzel tt">{{ 'home.values.title' | translate }}</p>

      <div class="mt-5 flex flex-row gap-8 center uppercase mb-5 desktop">
        <p-button [label]="'home.values.exclusivity' | translate" class="" />
        <p-button [label]="'home.values.sustainability' | translate" />
      </div>

      <div class="flex flex-row gap-6 center uppercase mb-1 values-btn mobile">
        <span class="cursor-pointer">{{ 'home.values.exclusivity' | translate }}</span>
        <span class="cursor-pointer">{{ 'home.values.sustainability' | translate }}</span>
      </div>
      <div class="desc flex flex-column justify-content-center desktop">
        <p class="description montserrat pb-0 mb-0">{{ 'home.values.description' | translate }}</p>
      </div>
      <div class="desc text-align-center mobile">
        <p class="description montserrat pb-0 mb-0">{{ 'home.values.description' | translate }}</p>
      </div>
    </div>
  </div>
</section>

<section id="concept">
  <div class="concept p-5 md:pb-5 pb-0 flex flex-column md:flex-row">
    <div class="flex flex-column gap-4 pt-5">
      <p class="title cinzel center md:pt-8">{{ 'home.concept.title' | translate }}</p>
      <div class="desc center pl-8 pt-5 pr-8 desktop">
        <p class="montserrat-italic">{{ 'home.concept.quote' | translate }}</p>
        <p class="montserrat pt-4">{{ 'home.concept.text2' | translate }}</p>
      </div>

      <div class="desc mb-5 mobile">
        <p class="montserrat-italic">{{ 'home.concept.quote' | translate }}</p>
        <p class="montserrat mt-3">{{ 'home.concept.text2' | translate }}</p>
      </div>
    </div>
    <img class="desktop" src="/images/Secao4.jpeg" />
    <img class="mobile center" src="/images/Secao4.jpeg" />
  </div>
</section>

<section id="collection">
  <div class="collection pt-3">
    <div class="center">
      <p class="title cinzel center md:pt-8 pt-6 cinzel">{{ 'home.collection.title' | translate }}</p>
      <div class="desc md:pt-6 pt-4 center">
        <p class="flex flex-row text-justify-center montserrat">{{ 'home.collection.description' | translate }}</p>
        <a href="/products" class="no-underline">
          <span class="flex flex-row justify-content-end montserrat cursor-pointer see-all">{{ 'home.collection.seeAll' | translate }}</span>
        </a>
      </div>
      <div class="images flex flex-row gap-4 w-full mt-5 mb-3 desktop">
        <img class="first w-20" src="/images/Secao5.jpeg" />
        <img class="second w-20" src="/images/Secao5.2.jpeg" />
        <img class="first w-20" src="/images/Secao5.3.jpg" />
        <img class="second w-20" src="/images/Secao5.4.jpeg" />
        <img class="first w-20" src="/images/Secao5.5.jpeg" />
      </div>

      <div class="images flex flex-column gap-5 w-full mt-5 mobile">
        <div class="flex flex-row gap-2 w-full mb-2">
            <img class="collection-img-small" src="/images/Secao5.jpeg" />
            <img class="collection-img-large" src="/images/Secao5.2.jpeg" />
            <img class="collection-img-small" src="/images/Secao5.3.jpg" />
        </div>

        <div class="flex flex-row gap-2 w-full justify-content-center">
            <img class="collection-img-medium" src="/images/Secao5.4.jpeg" />
            <img class="collection-img-medium" src="/images/Secao5.5.jpeg" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gallery" class="pt-0 md:pt-8  mb-5 md:mb-0">
  <div class="gallery mb-8 md:mb-5 flex flex-column md:flex-row w-full mb-2 mt-2 md:mt-4">
    <div class="md:w-50 flex flex-column md:pl-5 desktop-max-width">
      <p class="title cinzel center pb-3 md:pb-5 pt-8">{{ 'home.gallery.title' | translate }}</p>
      <p class="description montserrat md:pl-8">{{ 'home.gallery.description' | translate }}</p>
        <a href="/gallery" class="no-underline">
          <span class="montserrat flex flex-row justify-content-end montserrat cursor-pointer see-all">{{ 'home.gallery.seeAll' | translate }}</span>
        </a>

    </div>
    <div class="desktop w-50 flex">
      <div class="w-full style">
        <img class="img1" src="/images/Secao6.2.jpeg" />
        <img class="img2" src="/images/Secao6.jpeg" />
      </div>
    </div>
    <div class="mobile flex">
      <div class="w-full style">
        <img class="img1" src="/images/Secao6.2.jpeg" />
        <img class="img2" src="/images/Secao6.jpeg" />
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="contact flex flex-column mt-8 md:pt-8 md:mt-8">
    <p class="title center md:pt-8 cinzel">{{ 'home.contact.title' | translate }}</p>
    <div class="flex flex-row w-full gap-6 md:gap-8 mt-6">
      <div class="w-5 flex flex-column align-items-end gap-4">
        <p-button><img class="btn-icon" src="images/instagram.png" /><span><a href="https://instagram.com/gaithgio" target="_blank" class="no-underline">@gaithgio</a></span> </p-button>
        <p-button><img class="btn-icon" src="images/mail.png" /><span><a href="mailto:contact@gaithgio.com" class="no-underline">contact@gaithgio.com</a></span></p-button>
      </div>

      <div class="w-5 flex flex-column md:pl-8 gap-4">
        <p-button><img class="btn-icon" src="images/phone.png" /><span><a href="tel:+351934036467" class="no-underline">+351 934 036 467</a></span></p-button>
        <p-button><img class="btn-icon" src="images/ruler.png" /><span><a class="capitalize" href="/size-chart">{{ 'footer.sizes' | translate }} Tamanhos</a></span></p-button>
      </div>
    </div>
    <div class="w-full line"></div>
  </div>
</section>

<footer></footer>
