
.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cart {
    flex: 1;
}

.main{
    max-width: 100%;
    padding-left: 16%;
}

.gaith-color{
    color: #624725 !important;
}

.divider{
    height: 1px;
    width: 100%;
    background: #624725;
    opacity: 0.3;
}

.item{
    font-size: 12px;
    img{
        width: 100px;
        height: 100px;
    }
}
.title{
    font-size: 23px;
    font-weight: 900;
}

.price{
    justify-content: space-between;
}
.size{
    font-size: 13px;
}

.color{
    font-size: 13px;
}

.text-regular-size{
    font-size: 13px;
}

.head{
    p{
    font-size: 13px;
    }
}

:host::ng-deep .p-button{
    background: #624725 !important;
    min-width: 220px;
    border: 1px solid #624725;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat';
    border-radius: 3px;
}

.size-card{
    max-width: 35px;
    border: 1px solid #624725;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}

.quantity{
    font-size: 17px;
    width: 135px;
    height: 30px;
    border: 1px solid #624725;

    .text{
        font-size: 13px;
        padding-top: 3px;
        font-weight: 700;
    }
}

.pi-trash{
    font-size: 15px;
}

.quantify-card{
    max-width: 140px;
    height: 35px;
    border: 1px solid #624725;
    align-items: anchor-center;

    i{
        font-size: 10px !important;
        padding-top: .3rem;
    }
}

.small-image{
    max-width: 120px;
}

.main-img{
    max-width: 320px;
}

.cart{
    min-width: 80%;
}

.add-cart{
    background: #fff;
    padding: .4rem;
    border: 1px solid #624725;
    color: #624725 !important; 
    font-size: 15px;
    max-width: 220px;
    height: 45px;
}