/* You can add global styles to this file, and also import other style files */
/* === Reset CSS === */
@import "primeicons/primeicons.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff !important;
}

body {
  text-rendering: optimizeSpeed;
}

.desktop {
  @media only screen and (max-width:700px) {
    display: none !important;
  }
}

.mobile {
  @media only screen and (min-width:700px) {
    display: none !important;
  }
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.text-align-center {
  text-align: end;
}

.size-14 {
  font-size: 14px;
}

.size-6 {
  font-size: 6.5px;
}

.center {
  display: table;
  margin: 0 auto;
}

.self-end {
  justify-items: self-end !important;
}

.align-self-end {
  align-items: self-end !important;
}

:focus {
  outline: 2px solid #000; // Você pode personalizar isso
  outline-offset: 2px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}


@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../public/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel';
  src: url('../public/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

.main-txt-color {
  color: #624725 !important;
}

.montserrat {
  font-family: 'Montserrat';
}

.montserrat-italic {
  font-family: 'Montserrat-Italic';
}

.white-color {
  color: #fff !important;
}

.cinzel {
  font-family: 'Cinzel';
}

.footer {
  background-color: #624725;
  min-height: 217px;
  color: #fff;
  width: 100%;
  bottom: 0;

  p {
    font-size: 11px;
  }

  span {
    font-size: 9px;
  }

  img {
    width: 180px;
    height: 180px;
  }

  @media only screen and (max-width:700px) {
    min-height: 190px;

    p {
      font-size: 5px;
      line-height: 2px;
    }

    img {
      width: 80px;
      height: 140px;
    }

    span {
      font-size: 5px;
    }

  }
}

.title {
  font-size: 40px;
  color: #624725 !important;

  @media only screen and (max-width:700px) {
    font-size: 28px;
  }
}

a:focus {
  border: none !important;
  outline: none;
}