<section id="main">
  <div class="main p-0 m-0">
    <div class="member-area flex justify-content-end mb-5 pt-5 mr-7 ">
      <p class="main-txt-color">Área de Cliente</p>
    </div>

    <div class="menu center">
      <div class="flex flex-row gap-5 main-txt-color">
        <p>SOBRE NÓS </p>
        <p>NOSSOS VALORES </p>
        <p>CONCEITO DA MARCA </p>
        <p>NOVA COLEÇÃO </p>
        <p>PRODUTOS </p>
        <p>GALERIA </p>
        <p>CONTATOS </p>
        <p>FAQS </p>
      </div>
    </div>

    <div class="highlight center uppercase main-txt-color">
      <p>Upcycling, styling PESSOAL & mAIS.</p>

      <img src="/images/Logotipo.png" />
    </div>
  </div>
</section>

<section id="about" class="main-txt-color">

  <div class="flex flex-row gap-4 about md:pt-8 md:mb-7">
    <img class="md:pt-4" src="/images/Secao2.jpeg" />
    <div class="text-section md:pt-4">
      <p class="title center md:pt-5">SOBRE NÓS</p>
      <div class="pt-4 about-txt">
        <p class="">GaithGio é a evolução natural de um sonho. Nasceu como <span class="montserrat-italic">
            Gaith Silver Plate
          </span> , dedicada à
          criação
          de jóias corporais descontraídas e agnósticas.
        </p>
        <p class="pt-3">Com o tempo a visão cresceu e hoje, se apresenta como uma marca de vestuário, que valoriza o
          único, o feito à
          mão e o sustentável.
        </p>
        <p class="pt-3">É uma homenagem às raízes, à reinvenção e ao poder de criar beleza a partir do que já
          existe.</p>
      </div>
    </div>
  </div>

</section>

<section id="values">
  <div class="values ">
    <div class="flex flex-column">
      <p class="mb-4 center cinzel title">NOSSOS VALORES</p>

      <div class="mt-5 flex flex-row gap-8 center uppercase mb-5">
        <p-button>EXCLUSIVIDADE</p-button>
        <p-button>SUSTENTABILIDADE</p-button>
      </div>
      <div class="desc flex flex-column justify-content-center">
        <p class="description montserrat pb-0 mb-0">Criada com intenção, alma e mãos que acreditam na transformação como
          um</p>
        <p class="description montserrat mb-0 pb-0 center">ato de cuidado com o mundo e com as histórias que cada peça
          carrega.</p>
      </div>
    </div>
  </div>
</section>

<section id="concept">
  <div class="concept p-5 flex flex-row">
    <div class="flex flex-column gap-4 pt-5">
      <p class="title cinzel center pt-8">Conceito da Marca</p>
      <div class="desc center pl-8 pt-5 pr-8">
        <p class="montserrat-italic">“O upcycling vem do costume de reutilizar peças ou materiais que haviam pela casa
          na época de criança, minha mãe sempre ensinava o valor de brechós e roupas de doações da igreja. Pra mim
          sempre foi normal reciclar.” - Giovanna Gaith</p>
        <p class="montserrat-italic pt-4">Vestir o que é genuíno. Escolher ser único todos os dias com peças exclusivas,
          conscientes e com identidade.</p>
      </div>
    </div>
    <img src="/images/Secao4.jpeg" />
  </div>
</section>

<section id="collection">
  <div class="collection pt-3">
    <div class="center">
      <p class="title cinzel center pt-8 cinzel">Nova Coleção</p>
      <div class="desc pt-6 center">
        <p class="flex flex-row text-justify-center montserrat">Criados com tecidos reaproveitados e alma artesanal, os
          biquínis GaithGio
          vestem o verão com intenção. Para quem faz do seu corpo manifesto.
        </p>
        <span class="flex flex-row justify-content-end montserrat cursor-pointer see-all">[Ver tudo]</span>
      </div>
      <div class="images flex flex-row gap-6 w-full mt-5 mb-3">
        <img class="first w-20" src="/images/Secao5.jpeg" />
        <img class="second w-20" src="/images/Secao5.2.jpg" />
        <img class="first w-20" src="/images/Secao5.3.jpg" />
        <img class="second w-20" src="/images/Secao5.4.jpg" />
        <img class="first w-20" src="/images/Secao5.5.jpg" />
      </div>
    </div>
  </div>
</section>

<section id="gallery" class="pt-8">
  <div class="gallery mb-5 flex flex-row w-full mb-2 mt-8">
    <div class="w-50 flex flex-column pl-5">
      <p class="title cinzel center pb-5 pt-8">Nossa Galeria</p>
      <p class="description montserrat pl-8">Criações que já contaram histórias — desde coleções passadas à peças feitas sob
        medida. Um mergulho no processo criativo da GaithGio.</p>
      <span class="montserrat flex flex-row justify-content-end montserrat cursor-pointer see-all">[Ver tudo]</span>

    </div>
    <div class="w-50 flex">
      <div class="w-full style">
        <img class="img1" src="/images/Secao6.jpg" />
        <img class="img2" src="/images/Secao6.1.jpg" />
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="contact flex flex-column md:pt-8 md:mt-8">
    <p class="title center md:pt-8 cinzel">CONTACTOS</p>
    <div class="flex flex-row w-full gap-8 mt-6">
      <div class="w-5 flex flex-column align-items-end gap-4">
        <p-button>@gaithgio</p-button>
        <p-button>contact@gaithgio.com</p-button>
      </div>
      
      <div class="w-5 flex flex-column md:pl-8 gap-4">
        <p-button>+351 934 036 467</p-button>
        <p-button>Tamanhos</p-button>
      </div>
    </div>
    <div class="w-full line"></div>
  </div>
</section>

<section id="footer">
  <div class="footer flex flex-row gap-8 montserrat font-bold">
    <img class="w-2" src="/images/Logotipo.png" />
    <div class="flex flex-column pt-8 gap-2 w-full cursor-pointer">
      <p>SOBRE</p>
      <p>INSTAGRAM</p>
      <p>POLÍTICA DE PRIVACIDADE</p>
      <p>AJUDA</p>
    </div>
    <div class="flex flex-column pt-8 gap-2 w-full cursor-pointer">
      <p>FAQ'S</p>
      <p>ENVIOS</p>
      <p>DEVOLUÇÕES E TROCAS</p>
      <p>TAMANHOS</p>
    </div>
    <div class="flex flex-row gap-8 w-full justify-content-end pr-4 pb-3 align-items-end mo">
      <span class="uppercase">@gaithgio 2025 </span>
      <span class="uppercase">powered by @ningola</span>
    </div>
  </div>
</section>