<section id="main">
  <div class="main p-0 m-0">
  <div class="member-area flex justify-content-end mb-5 pt-5 mr-7 ">
    <p class="main-txt-color">Área de Cliente</p>
  </div>

  <div class="menu center">
    <div class="flex flex-row gap-5 main-txt-color">
      <p>SOBRE NÓS </p>
      <p>NOSSOS VALORES </p>
      <p>CONCEITO DA MARCA </p>
      <p>NOVA COLEÇÃO </p>
      <p>PRODUTOS </p>
      <p>GALERIA </p>
      <p>CONTATOS </p>
      <p>FAQS </p>
    </div>
  </div>

  <div class="highlight center uppercase main-txt-color">
    <p>Upcycling, styling PESSOAL & mAIS.</p>

    <img src="/images/Logotipo.png" />
  </div>
  </div>
</section>

<section id="about" class="main-txt-color">

  <div class="flex flex-row gap-4 about md:pt-8 md:mb-7">
    <img class="md:pt-4" src="/images/Secao2.jpeg" />
    <div class="text-section md:pt-4">
      <p class="title center md:pt-5">SOBRE NÓS</p>
      <div class="pt-4 about-txt">
        <p class="">GaithGio é a evolução natural de um sonho. Nasceu como <span class="montserrat-italic">
        Gaith Silver Plate
        </span> , dedicada à
          criação
          de jóias corporais descontraídas e agnósticas.
        </p>
        <p class="pt-3">Com o tempo a visão cresceu e hoje, se apresenta como uma marca de vestuário, que valoriza o
          único, o feito à
          mão e o sustentável.
        </p>
        <p class="pt-3">É uma homenagem às raízes, à reinvenção e ao poder de criar beleza a partir do que já
          existe.</p>
      </div>
    </div>
  </div>

</section>

<section id="values">
  <div class="values ">
    <div class="flex flex-column">
    <p class="mb-4 center cinzel title">NOSSOS VALORES</p>

    <div class="mt-5 flex flex-row gap-8 center uppercase mb-5">
      <p-button>EXCLUSIVIDADE</p-button>
      <p-button>SUSTENTABILIDADE</p-button>
    </div>
    <div class="desc flex flex-column justify-content-center">
      <p class="description montserrat pb-0 mb-0">Criada com intenção, alma e mãos que acreditam na transformação como um</p>
      <p class="description montserrat mb-0 pb-0 center">ato de cuidado com o mundo e com as histórias que cada peça carrega.</p>
    </div>
    </div>
  </div>
</section>